<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Formateur</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div layout:fragment="content">

    <div class="card">
        <div class="card-header">
            <h2> Ajouter un Formateur</h2>
            <a th:href="@{/formateur/index}" class="btn btn-primary">⬅ Retour à la liste</a>
        </div>

        <form th:action="@{/formateur/save}" th:object="${formateur}" method="post">
            <label for="matricule">Matricule :</label>
<input type="text" id="matricule" th:field="*{matricule}" placeholder="Exemple : FRM123" required />
            
            <label for="nom">Nom :</label>
            <input type="text" id="nom" th:field="*{nom}" placeholder="Entrez le nom complet" />

            <label for="cours">Cours :</label>
            <select id="cours" th:field="*{cours}" multiple> 
<option th:each="c : ${cours}" th:value="${c.id}" th:text="${c.titre}"></option>
            </select>

            <label for="email">Email :</label>
            <input type="email" id="email" th:field="*{email}" placeholder="exemple@mail.com" />
             <label for="password">Mot de passe :</label>
<input type="password"
       id="password"
       th:field="*{password}"
       placeholder="Entrez un mot de passe"
       required />
             
            <div style="margin-top:20px; text-align:center;">
                <button type="submit" class="btn btn-primary">💾 Enregistrer</button>
                <a th:href="@{/formateur/index}" class="btn btn-danger">Annuler</a>
            </div>
        </form>
    </div>

</div>

</body>
</html>
