<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Groupe</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div layout:fragment="content">

    <div class="card">
        <div class="card-header">
            <h2> Ajouter un Groupe</h2>
            <a th:href="@{/groupe/index}" class="btn btn-primary">⬅ Retour à la liste</a>
        </div>

        <form th:action="@{/groupe/save}" th:object="${groupe}" method="post">
             <input type="hidden" th:field="*{id}" />
             
            <label for="nom">Nom du Groupe :</label>
            <input type="text" id="nom" th:field="*{nom}" placeholder="Entrez le nom du groupe" />

            <label for="nombreLimite">Nombre Limite :</label>
            <input type="number" id="nombreLimite" th:field="*{nombreLimite}" placeholder="Entrez la limite d'étudiants" />

            <label for="cours">Cours :</label>
            <select id="cours" th:field="*{cours}">
                <option th:each="c : ${cours}" th:value="${c.id}" th:text="${c.titre}"></option>
            </select>


            <div style="margin-top:20px; text-align:center;">
                <button type="submit" class="btn btn-primary">💾 Enregistrer</button>
                <a th:href="@{/groupe/index}" class="btn btn-danger">Annuler</a>
            </div>
        </form>
    </div>

</div>

</body>
</html>
