<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Étudiant</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div layout:fragment="content">

    <div class="card">
        <div class="card-header">
            <h2> Ajouter un Étudiant</h2>
            <a th:href="@{/etudiant/index}" class="btn btn-primary">⬅ Retour à la liste</a>
        </div>

        <!-- Formulaire lié à l'objet Etudiant -->
        <form th:action="@{/etudiant/save}" th:object="${etudiant}" method="post">

            <label for="matricule">Matricule :</label>
            <input type="text" id="matricule" th:field="*{matricule}" placeholder="Entrez le matricule" />

            <label for="nom">Nom :</label>
            <input type="text" id="nom" th:field="*{nom}" placeholder="Entrez le nom" />

            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" th:field="*{prenom}" placeholder="Entrez le prénom" />

            <label for="email">Email :</label>
            <input type="email" id="email" th:field="*{email}" placeholder="exemple@mail.com" />

            <label for="dateInscription">Date d'inscription :</label>
            <input type="date" id="dateInscription" th:field="*{dateInscription}" />

           

            <div style="margin-top:20px; text-align:center;">
                <button type="submit" class="btn btn-primary">💾 Enregistrer</button>
                <a th:href="@{/etudiant/index}" class="btn btn-danger">Annuler</a>
            </div>
        </form>
    </div>

</div>

</body>
</html>
